.add-todo-form-container {
  padding: 20px;
  display: flex;
  justify-content: center;

  .add-todo-form {
    width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }
}