.app-header {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;

    .header-container {
        width: 800px;
        max-width: 800px;
        padding: 20px 10px;
        text-align: left;
        font-size: 28px;
        font-family: Constantia, serif;
    }
}