.app-footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #737373;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .footer-container {
        width: 800px;
        max-width: 800px;
        padding: 20px 10px;
        text-align: right;
    }
}