.todos-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #333;

  .todos-box {
    width: 800px;
    max-width: 800px;
    padding: 20px 0;
    text-align: left;
  }
}